<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <h3>Productos</h3>
    <tr th:each="productos: ${productos}">
        <p>Codigo: <td th:text="${productos.codigo}" /></p>
        <p>Marca: <td th:text="${productos.marca}" /></p>
        <p>Modelo: <td th:text="${productos.modelo}" /></p>
        <p>Descripcion: <td th:text="${productos.descripcion}" /></p>
        <p>Precio: <td th:text="${productos.precio}" /></p>
        <p>----</p>
    </tr>
</body>
</html>